th {
  padding:15px;
  border-bottom:1px #ccc solid;
}

tr td {
  padding:15px;
  border-bottom:1px #ccc solid;
}

tr:nth-child(even) {
  background-color:#ecf0f1;
}

.bill tr:nth-child(even) {
  background-color:#fff;
}

.navbar {
  margin-bottom:10px;
}

.nav {
  margin-top:20px;
}

.nav li a{padding:5px;margin-left:3px;padding-top:10px;padding-bottom:10px;float:right}

h3 {
  margin-left:4%;
  margin-top:100px;
  font-size: 4.53em;
  font-family:Monofett,sans-serif;
}

.legislatorlookup {margin-left:45px}
.legislators, .committees, .bills, .bill, .upcoming-bills {width:95%;border:1px #ccc solid;margin: 0 auto;}

.bunting {float:left;position:absolute;margin-top:-4%;z-index:-5}
