<nav class="navbar navbar-light bg-faded" style="margin-bottom:0px">
  <a class="navbar-brand" href="#" style="margin-left:30px;color:#000;font-size:2.3em;text-shadow: 2px 2px #add8e6 ;float:left;z-index:500;margin-top:20px;font-family:Rubik Mono One,sans-serif;font-size:2.5em">Enlightened Citizenry</a>
  <div class="bunting"><img src ="http://www.templateof.com/postpic/2013/03/american-flag-banner_273574.png"></div>
  <ul class="nav navbar-nav" style="text-transform:uppercase;font-size: 2.53em;font-family:Monofett,sans-serif;width:900px;float:right">

    <li class="nav-item active">
      <a class="nav-link" href="/committees">Committees</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/bills">Recent Bills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/upcoming-bills-house">Upcoming House Bills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/upcoming-bills-senate">Upcoming Senate Bills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/legislators">Legislators</a>
    </li>
  </ul>
</nav>

{{outlet}}
