<h3>Bills</h3>
<table class="bills">
<tr>
    <th>Title</th>
</tr>

{{#each model as |bill|}}
<tr>
  <td>{{#link-to 'bill' bill.bill_id}}{{bill.official_title}}{{/link-to}}</td>
</tr>
{{/each}}
</table>
