<h3>Committees</h3>
<table class="committees">
<tr>
    <th>Name</th>
    <th>ID</th>
</tr>

{{#each model as |committee|}}
<tr>
  {{#link-to 'subcommittees' committee.committee_id}}<td>{{committee.name}}</td>{{/link-to}}
  <td>{{committee.committee_id}}</td>
</tr>
{{/each}}
</table>
